{% extends 'shop/basic.html' %}

{% block title %} payment status {% endblock %}

{% block body %}
<div class="container">
    {{response}}
    <div class="col my-4">

        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        ORDER SUCCESS
        {% else %}
        ORDER FAILURE
        {% endif%}

    </div>

</div>



{% endblock %}
{% block js%}
<script>
    {% if thank %}
alert('Thanks for ordering with us. Your order is is {{id}}. Use it to track your order using our order tracker');
localStorage.clear();

document.location = "/shop";

{% endif %}
</script>
{% endblock %}