<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paytm merchant page</title>
</head>
<body>
    <h1>Redirecting you to merchant</h1>
    <h2>please do not refresh your page</h2>
    {% for key,value in param_dict.items %}
    <form action="https://securegw-stage.paytm.in/theia/processTransaction" method="post" name="paytm">
    <input type="hidden" name="{{key}}" value="{{value}}">
    {% endfor %}
    </form>
    <script>
        document.paytm.submit()
    </script>
</body>
</html>