{% extends 'shop/basic.html' %}

{% block title %} {{product.product_name}}-shop {% endblock %}



{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src='/media/{{product.image}}' alt="">

            </div>
            <div class="row mt-5">
                <button type="button" class="btn btn-primary mx-2" id="pr{{i.id}}">Add to cart</button>
                <button type="button" class="btn btn-success mx-2">Buy now</button>
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="font-weight-bolder">{{product.product_name}}</h2>
            <h5 class="mt-3"><span class="font-weight-bolder">Description : </span>{{product.desc}}</h5>
            <h4 class="mt-3"><span class="font-weight-bolder">Category : </span>{{product.category}}</h4>
            <h4 class="mt-3"><span class="font-weight-bolder">Publish Date : </span>{{product.pub_date}}</h4>
            <h3 class="mt-3"><span class="font-weight-bolder">MRP RS :  </span>{{product.price}}</h3>
        </div>
    </div>
</div>



{% endblock %}
 {% block js %}  
        <script>
                
                if(localStorage.getItem('cart')== null){
                  var cart={}
                }
                else{
                  cart = JSON.parse(localStorage.getItem('cart'));
                  document.getElementById('cart').innerHTML=Object.keys(cart).length
                }
                 $('.cart').click(function(){
                    
                     var idstr = this.id.toString()
                     
                     if (cart[idstr]!=undefined){
                       cart[idstr]= cart[idstr]+1
                     }
                     else{
                       cart[idstr]=1
                     }
                     console.log(cart)
                     localStorage.setItem('cart',JSON.stringify(cart));
                     document.getElementById('cart').innerHTML=Object.keys(cart).length
                 })
                 
        </script>
        
      {% endblock  %}